Python Data Structures – Intermediate Exercises
Notebook

Section 1: Nested Lists & Access

In [1]:
students = [
    ["Ravi", [85, 72, 90]],
    ["Sneha", [95, 88, 92]],
    ["Kabir", [65, 70, 60]],
    ["Anita", [75, 80, 78]]
]

1. Ravi's second mark

In [2]:
print("Ravi's second mark:", students[0][1][1])

Ravi's second mark: 72

2. Average mark for each student

In [4]:
for student in students:
  avg = sum(student[1]) / len(student[1])
  print(f"{student[0]}'s average: {avg}")

Ravi's average: 82.33333333333333
Sneha's average: 91.66666666666667
Kabir's average: 65.0
Anita's average: 77.66666666666667

3. Students who scored above 80 in all subjects

In [5]:
for name, marks in students:
  if all(mark>80 for mark in marks):
    print(name, "scored above 80 in all subjects")

Sneha scored above 80 in all subjects

4. New list of [name, average]

In [6]:
averages=[[name, sum(marks)/len(marks)] for name , marks in students]
print("List of name and average:", averages)

List of name and average: [['Ravi', 82.33333333333333], ['Sneha', 91.66666666666667], ['Kabir', 65.0], ['Anita', 77.66666666666667]]

# Section 2: Dictionary of Lists

In [7]:
data = {
    "products": ["Mobile", "Laptop", "Tablet", "Camera"],
    "prices": [12000, 55000, 18000, 25000],
    "ratings": [4.5, 4.7, 4.0, 4.2]
}

1. List of product dictionaries

In [9]:
products = []
for name, price, rating in zip(data["products"], data["prices"], data["ratings"]):
  products.append({"name": name, "price": price, "rating": rating})
print("List of product dictionaries:", products)

List of product dictionaries: [{'name': 'Mobile', 'price': 12000, 'rating': 4.5}, {'name': 'Laptop', 'price': 55000, 'rating': 4.7}, {'name': 'Tablet', 'price': 18000, 'rating': 4.0}, {'name': 'Camera', 'price': 25000, 'rating': 4.2}]

2. Filter price > 20000 and rating ≥ 4.5

In [11]:
filtered = [p for p in products if p["price"] > 20000 and p["rating"] >= 4.5]
print("Filtered products:", filtered)

Filtered products: [{'name': 'Laptop', 'price': 55000, 'rating': 4.7}]

3. Sort by rating (descending)

In [12]:
sorted_products = sorted(products, key=lambda x: x["rating"], reverse=True)
print("Sorted by rating:", sorted_products)

Sorted by rating: [{'name': 'Laptop', 'price': 55000, 'rating': 4.7}, {'name': 'Mobile', 'price': 12000, 'rating': 4.5}, {'name': 'Camera', 'price': 25000, 'rating': 4.2}, {'name': 'Tablet', 'price': 18000, 'rating': 4.0}]

# Section 3: Frequency Dictionary + Set Operations

In [13]:
text = "ai is the future and ai will change everything in the ai world"

1. Count frequency of each word using a dictionary

In [14]:
words = text.split()
freq = {}
for word in words:
    freq[word] = freq.get(word, 0) + 1
print("Word frequencies:", freq)

Word frequencies: {'ai': 3, 'is': 1, 'the': 2, 'future': 1, 'and': 1, 'will': 1, 'change': 1, 'everything': 1, 'in': 1, 'world': 1}

2. Print only the words that appear more than once

In [15]:
repeated = [word for word, count in freq.items() if count > 1]
print("Words appearing more than once:", repeated)

Words appearing more than once: ['ai', 'the']

3. Convert words into a set and print sorted unique words

In [16]:
unique_words = sorted(set(words))
print("Sorted unique words:", unique_words)

Sorted unique words: ['ai', 'and', 'change', 'everything', 'future', 'in', 'is', 'the', 'will', 'world']

4. Common words between sets

In [17]:
set1 = set(words)
set2 = {"ai", "ml", "data", "future"}
common = set1 & set2
print("Common words:", common)

Common words: {'ai', 'future'}

# Section 4: Dictionary Comprehension + Conditional Logic

In [18]:
sales = {
    'Amit': 70000,
    'Sneha': 45000,
    'Ravi': 30000,
    'Anita': 90000,
    'Kabir': 20000
}

1. Add 10% bonus

In [19]:
bonus_sales = {k: v * 1.10 for k, v in sales.items()}
print("Sales with bonus:", bonus_sales)

Sales with bonus: {'Amit': 77000.0, 'Sneha': 49500.00000000001, 'Ravi': 33000.0, 'Anita': 99000.00000000001, 'Kabir': 22000.0}

2. Filter sales > 50,000

In [20]:
high_sales = {k: v for k, v in sales.items() if v > 50000}
print("Sales > 50000:", high_sales)

Sales > 50000: {'Amit': 70000, 'Anita': 90000}

3. Label each person as 'High' , 'Medium' , or 'Low'

In [21]:
labeled = {}
for person, sale in sales.items():
    if sale >= 75000:
        labeled[person] = "High"
    elif sale >= 40000:
        labeled[person] = "Medium"
    else:
        labeled[person] = "Low"
print("Labeled sales levels:", labeled)

Labeled sales levels: {'Amit': 'Medium', 'Sneha': 'Medium', 'Ravi': 'Low', 'Anita': 'High', 'Kabir': 'Low'}

# Section 5: Tuples, Sets, and Zipping

In [22]:
names = ("Ravi", "Sneha", "Kabir")
marks = (88, 92, 76)

1. Convert both tuples to a dictionary using zip()

In [23]:
student_marks = dict(zip(names, marks))
print("Zipped dictionary:", student_marks)

Zipped dictionary: {'Ravi': 88, 'Sneha': 92, 'Kabir': 76}

2.  Find Min and Max marks

In [24]:
print("Min mark:", min(marks))
print("Max mark:", max(marks))

Min mark: 76
Max mark: 92

3. Create a set from marks and add a new value

In [25]:
marks_set = set(marks)
marks_set.add(85)
print("Updated marks set:", marks_set)

Updated marks set: {88, 92, 85, 76}

4. Merge two sets and show only unique elements

In [26]:
other_set = {90, 92, 80}
merged = marks_set.union(other_set)
print("Merged unique set:", merged)

Merged unique set: {80, 85, 88, 90, 92, 76}

# Bonus Challenge

In [27]:
employees = {
    "E101": {"name": "Ravi", "dept": "Sales", "salary": 50000},
    "E102": {"name": "Sneha", "dept": "Engineering", "salary": 80000},
    "E103": {"name": "Kabir", "dept": "HR", "salary": 45000}
}

1. Add new employee

In [28]:
employees["E104"] = {"name": "Anita", "dept": "Engineering", "salary": 95000}

2. Increase salary for Engineering by 10%

In [29]:
for emp in employees.values():
    if emp["dept"] == "Engineering":
        emp["salary"] *= 1.10

3. Dept with highest average salary

In [30]:
from collections import defaultdict

dept_salaries = defaultdict(list)
for emp in employees.values():
    dept_salaries[emp["dept"]].append(emp["salary"])

avg_salaries = {dept: sum(sals)/len(sals) for dept, sals in dept_salaries.items()}
highest = max(avg_salaries, key=avg_salaries.get)
print("Department with highest avg salary:", highest)

Department with highest avg salary: Engineering